<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>


        {% for product in products %}
        <p>Name:{{product.name}}</p>
        <p>Current Price: {{product.current_price}}</p>

        <p>Description: <br> {{product.description}}</p>
        <p>BY : {{product.owner}}</p>
        <img src={{product.image.url}} alt="" height="200px" width="200px">
        {% endfor %}



    </body>

</html>