{% extends 'base.html' %}

{% block title %}
home
{% endblock title %}


{% block content %}



<!-- carousel start -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        {% for banner in banners %}
        <div class="carousel-item 
        {% if forloop.counter0 == 0 %} active {% endif %}
            " data-bs-interval="2000">
            <a href="{% url 'product' banner.product.id %}">

                <img src="{{banner.img.url}}" class="d-block w-100 bg-primary" alt="..." height="400px">
            </a>
        </div>
        {% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- carousel end -->
<div class="container">

    <div class="row gy-3 mt-3">

        {% for cat_img in category_img %}

        <div class="col">
            <a href="{% url 'category'  cat_img.name %}" class="text-decoration-none text-dark">
                <div class="card shadow">
                    <img src="{{cat_img.img.url}}" class="card-img" alt="" height="174px">
                    <div class="card-body align-items-center">
                        <h5 class="card-title">{{cat_img.name}}</h5>
                        <a href="{% url 'category' cat_img.name %}" class="btn btn-primary mx-auto w-100">View</a>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}


    </div>


    <!-- products  -->
    <div class="row  mt-5">
        <div class="col-3 d-none d-sm-block " style="height: 500px; ">
            <h2 class="text-center text-uppercase mt-2">Catergory</h2>
            <hr>
            <ul style="list-style-type: none;" class="">

                {% for cat_item in category %}
                <li>
                    <a href="{% url 'category'  cat_item.type %}"
                        class="btn btn-primary w-100 my-2 p-3 ">{{cat_item.type}}</a>
                </li>
                {% endfor %}

            </ul>

        </div>

        <div class="col" style="height: 90vh; overflow-y: scroll;">
            <div class="container m-0 p-0">
                <div class="row  row-cols-md-4 row-cols-2 g-3">


                    {% for product in products %}

                    <div class="col">
                        <a href="{% url 'product' product.id %}" class="text-decoration-none text-dark">

                            <div class="card shadow ">
                                <img src="{{product.image.url}}" class="card-img" alt="..." style="height: 174px;">

                                <h5 class="card-title px-2 ">{{product.name|slice:"0:12"}}</h5>
                                <div class="card-body pt-0 pb-1">
                                    <a href="{% url 'product' product.id %}" class="btn btn-primary w-100 ">View</a>
                                </div>

                            </div>

                        </a>
                    </div>


                    {% endfor %}


                </div>
            </div>
        </div>

    </div><!-- products end -->

</div> <!-- main container end -->


{% endblock content %}
