{% extends 'base.html' %}


{% block title %}
product-list
{% endblock title %}




{% block content %}


<div class="container-fluid">
        <div class="row d-none d-md-block ">
                <!-- filter col -->
                <!-- 
        <div class="col-lg-3 col-md-4  d-none d-sm-block">

            <div class="container-fluid">
                <h3 class="text-center mt-2">Filter <i class="fa-sharp fa-solid fa-filter"></i></h3>

                <div class="row row-cols-md-2 row-cols-lg-4 shadow my-3 rounded-3">
                    <h4 class="w-100">RAM</h4>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">3GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">4GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">6GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">8GB</a>
                    </div>

                </div>


                <div class="row row-cols-md-2 row-cols-lg-4 shadow my-4 rounded-3">
                    <h4 class="w-100">ROM</h4>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">4GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">8GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-3 px-lg-2 py-2 rounded-pill">16GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-3 px-lg-2 py-2 rounded-pill">32GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-3 px-lg-2 py-2 rounded-pill">64GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-3 px-lg-1 py-2 rounded-pill">128GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-3 px-lg-1 py-2 rounded-pill">256GB</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-3 px-lg-1 py-2 rounded-pill">512GB</a>
                    </div>

                </div>

                <div class="row row-cols-md-2 row-cols-lg-3 shadow my-4 rounded-3 p-2">
                    <h4 class="w-100">Brand</h4>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-3 px-lg-3 py-2 rounded-pill">Redmi</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-3 px-lg-3 py-2 rounded-pill">Realme</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">Oppo</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">Vivo</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">Vivo</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">Moto</a>
                    </div>
                    <div class="col-lg-3 my-3 "><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">1+</a>
                    </div>

                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">Apple</a>
                    </div>
                    <div class="col my-3"><a href=""
                            class="bg-primary text-white px-md-4 px-lg-3 py-2 rounded-pill">Samsung</a>
                    </div>

                </div>

                <div class="row shadow my-3 rounded-3">
                    <div class="col p-3">
                        <input class="form-range mb-3" type="range" name="rangeInput1" min="0" max="100000" step="5000"
                            onchange="updateTextInput(this.value, 'textInput1');">
                        <div class="input-group rounded-5">
                            <span class="input-group-text">$</span>
                            <input class="form-control text-center" type="number" id="textInput1" value="50000"
                                step="5000" min="5000" max="100000">
                            <span class="input-group-text">.00</span>

                        </div>

                    </div>
                </div>

            </div>

        </div>
         -->
                <!-- filter col end -->

                <!-- produsts list col -->
                <div class="col">

                        <!-- repeat to gen multiple row -->

                        {% for product in products %}

                        <div class="container p-2">

                                <div class="row rounded-3 shadow">



                                        <div class="col-5 col-sm-2 m-0 p-0 ">
                                                <a class="text-decoration-none text-dark"
                                                        href="{% url 'product' product.id %}">
                                                        <img src="{{product.image.url}}" alt="" class="card-img"
                                                                style="height: 168px; ">

                                                </a>
                                        </div>


                                        <div class="col-6 col-sm-6 my-0 py-0">
                                                <a class="text-decoration-none text-dark"
                                                        href="{% url 'product' product.id %}">

                                                        <h3 class="">{{product.name}}</h3>
                                                        <p class="d-none d-sm-block my-0 py-0">
                                                                {{product.description |slice:"0:350"}} ...
                                                        </p>


                                                        <div class="buy d-block d-sm-none my-0 py-0">

                                                                <h4> <del class="text-muted">{{product.max_price}}</del>
                                                                        {{product.current_price}}
                                                                </h4>
                                                                <!-- <p class="text-secondary">Item left : 15</p> -->
                                                                <a href="{% url 'product' product.id %}"
                                                                        class="btn btn-success px-4 mb-2 rounded-3">Buy</a>
                                                                <a href="{% url 'add_to_cart' product.id %}"
                                                                        class="btn btn-primary px-4 mb-2 rounded-3">Cart</a>

                                                        </div>
                                                </a>


                                        </div>
                                        <div class="col-2 my-0 py-0">
                                                <a class="text-decoration-none text-dark"
                                                        href="{% url 'product' product.id %}">

                                                        <p class="mt-2">
                                                                <span
                                                                        class=" bg-primary text-light rounded-3 p-1 px-2 me-3">
                                                                        <i class=" fa-solid fa-thumbs-up">
                                                                                {{product.likes}}</i>
                                                                </span>
                                                                <span
                                                                        class=" bg-secondary text-light rounded-3 p-1 px-2">
                                                                        <i class="fa-solid fa-thumbs-down">
                                                                                {{product.dislikes}}</i>
                                                                </span>

                                                        </p>
                                                        <p class="my-0 py-0">Total Orders :
                                                                <span>{{product.total_orders}}
                                                                </span>
                                                        </p>

                                                        <p class="my-0 py-0">Rating : <span>
                                                                        {{product.rating}}/5</span><br>

                                                                {% for number in product.frange %}
                                                                <i class="fa-solid fa-star"></i>
                                                                {% endfor %}

                                                                {% for number in product.erange %}
                                                                <i class="fa-regular fa-star"></i>
                                                                {% endfor %}

                                                        </p>
                                                        <p class="my-0 py-0">Total Reviews :
                                                                <span>{{product.total_reviews}}
                                                                </span>
                                                        </p>
                                                </a>



                                        </div>


                                        <div class="col-2  d-none d-sm-block my-0 py-0 ">
                                                <a class="text-decoration-none text-dark"
                                                        href="{% url 'product' product.id %}">

                                                        <div class="row">
                                                                <div class="col-3 d-flex align-self-center">
                                                                        <h4>
                                                                                <i
                                                                                        class="fa-solid fa-indian-rupee-sign fa-2xl"></i>
                                                                        </h4>
                                                                </div>
                                                                <div class="col">
                                                                        <div class="row">
                                                                                <div class="row">
                                                                                        <h4>{{product.current_price}}
                                                                                        </h4>
                                                                                </div>
                                                                                <div class="row">
                                                                                        <h5><del class="text-muted">{{product.max_price}}</del>
                                                                                        </h5>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <p class="">Item left : {{product.stock}}</p>
                                                        <div class="mt-2 mb-0 pb-0">
                                                                <a href="{% url 'product' product.id %}"
                                                                        class="btn btn-success px-4 mb-2 rounded-3">Buy</a>
                                                                <a href="{% url 'add_to_cart' product.id %}"
                                                                        class="btn btn-primary px-4 mb-2 rounded-3">Cart</a>
                                                        </div>
                                                </a>

                                        </div>
                                </div>
                        </div>

                        {% empty %}
                        <h2 class="text-center  mt-5">We're sorry, the product you're looking for is currently out of
                                stock.</h2>
                        <p class="text-center">We apologize for inconvenience. <br> but we have wide range of other
                                produts available you might be intrested in. <br><a href="{% url 'home' %}">View other
                                        products</a>
                        </p>
                        {% endfor %}

                        <!-- gen row end -->


                </div>
                <!-- products list col end -->
        </div>

        <div class="small_screen  d-block d-sm-none mt-2">

                <div class="row row-cols-2 g-2 py-0 my-0">


                        {% for product in products %}

                        <div class="col">
                                <a href="{% url 'product' product.id %}" class="text-decoration-none text-dark">

                                        <div class="card shadow pb-1">
                                                <img src="{{product.image.url}}" class="card-img" alt="..."
                                                        style="height: 174px;">

                                                <span class="fw-bold">{{product.name|slice:"0:12"}}</span> <br>
                                                <div class="row d-flex justify-content-between p-2">
                                                        <div class="col">
                                                                <del class="text-muted small">{{product.max_price}}
                                                                </del>
                                                                <br>
                                                                <span class="h4">{{product.current_price}}
                                                                </span>
                                                        </div>
                                                        <div class="col d-flex justify-content-end">
                                                                <span class="h6 text-end">
                                                                        {{product.stock}} In Stock
                                                                </span>
                                                        </div>
                                                </div>
                                                <div class="card-body pt-0 pb-1 d-flex justify-content-between">
                                                        <a href="{% url 'add_to_cart' product.id %}"
                                                                class="btn btn-primary ">Cart</a>
                                                        <a href="{% url 'product' product.id %}"
                                                                class="btn btn-primary">Buy</a>


                                                </div>

                                        </div>

                                </a>
                        </div>


                        {% endfor %}


                </div>
        </div>


</div>

<script>
        function updateTextInput(val, elId) {
                document.getElementById('textInput1').value = val;
        }
</script>

{% endblock content %}